{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}

{% block mainbody %}
<!--About Four Start-->
        <section class="about-four">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-four__left">
                            <div class="about-four__shape-1 img-bounce">
                                <img src="static/assets/images/shapes/about-four-shape-1.png" alt="">
                            </div>
                            <div class="about-four__img-box">
                                <div class="about-four__img">
                                    <img src="static/assets/images/mcanda/blog-6.jpg" alt="">
                                </div>
                                <div class="about-four__img-2">
                                    <img src="static/assets/images/mcanda/tv.jpg" alt="">
                                </div>
                                <div class="about-four__content">
                                    <h3>The director's voice
                                        <br> of the company
                                        <br> movement
                                    </h3>
                                    <div class="about-four__icon">
                                        <span class="icon-cityscape"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-four__right">
                            <div class="section-title text-left">
                                <div class="section-title__icon">
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="section-title__tagline">Welcome to mcanda investments</span>
                                <h2 class="section-title__title">"It is because of your
                                    <br> presence"
                                </h2>
                            </div>
                            <p class="about-four__text">We offer a fully integrated service from a fully committed and
                                equipped team, capable of
                                meeting every related need. Regardless of our clients’ requirement, our approach remains
                                the
                                same. Our first priority is to gain thorough understanding of the requirements of our
                                clients’
                                business and then efficiently dealing with each task as they present themselves.
                                Mcanda Investment has a very knowledgeable and experienced workforce who subscribe to a
                                strong set of values and ethics for our company in various areas as may be dictated by
                                our
                                customers. To us, ‘a happy customer is a successful service’.</p>
                            <ul class="about-four__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-angle-right"></span>
                                    </div>
                                    <div class="content">
                                        <h3>Our Vision</h3>
                                        <p>To be the most reliable and efficient service provider offering a broad
                                            spectrum of related services and products; committed to service, and
                                            renowned for our integrity and ability to deliver on time.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-angle-right"></span>
                                    </div>
                                    <div class="content">
                                        <h3>Our Mission</h3>
                                        <p>To provide sustainable quality products and services to enhance the social
                                            and economic empowerment of eMaswati businesses within the Kingdom’s region.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-angle-right"></span>
                                    </div>
                                    <div class="content">
                                        <h3>Our Philosophy</h3>
                                        <p>Continuously provide quality client service and to ensure that we are part of
                                            the client’s growth within a sustainable empowering environment.</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="about-four__btn-box">
                                <a href="#" class="about-four__btn thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Four End-->

        <!--Reawards One Start-->
        <section class="reawards-one">
            <div class="reawards-one__shape-1 float-bob-x">
                <img src="static/assets/images/mcanda/portfolio-1.jpg" alt="">
            </div>
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__icon">
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="section-title__tagline">Our awards</span>
                    <h2 class="section-title__title">The company's proud
                        <br> moments & awards
                    </h2>
                </div>
                <div class="row">
                    <!--Reawards One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="reawards-one__single">
                            <div class="reawards-one__content">
                                <div class="reawards-one__img">
                                    <img src="static/assets/images/resources/reawards-1-1.jpg" alt="">
                                </div>
                                <p class="reawards-one__sub-title">Mcanda Award</p>
                                <h3 class="reawards-one__title"><a href="#">Software
                                        <br> design</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Reawards One Single End-->
                    <!--Reawards One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="reawards-one__single">
                            <div class="reawards-one__content">
                                <div class="reawards-one__img">
                                    <img src="static/assets/images/resources/reawards-1-2.jpg" alt="">
                                </div>
                                <p class="reawards-one__sub-title">Mcanda Award</p>
                                <h3 class="reawards-one__title"><a href="#">Sustainability
                                        <br> of our services</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Reawards One Single End-->
                    <!--Reawards One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="reawards-one__single">
                            <div class="reawards-one__content">
                                <div class="reawards-one__img">
                                    <img src="static/assets/images/resources/reawards-1-3.jpg" alt="">
                                </div>
                                <p class="reawards-one__sub-title">Mcanda Award</p>
                                <h3 class="reawards-one__title"><a href="#">Customers
                                        <br> of company</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Reawards One Single End-->
                    <!--Reawards One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="reawards-one__single">
                            <div class="reawards-one__content">
                                <div class="reawards-one__img">
                                    <img src="static/assets/images/resources/reawards-1-4.jpg" alt="">
                                </div>
                                <p class="reawards-one__sub-title">Mcanda Award</p>
                                <h3 class="reawards-one__title"><a href="#">Recognitions
                                        <br> of company</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Reawards One Single End-->
                </div>
            </div>
        </section>
        <!--Reawards One End-->

        <!--Tesimonial Three Start-->
        <section class="testimonial-three">
            <div class="testimonial-three__bg" style="background-image: url(/static/assets/images/mcanda/net.png.png);">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="testimonial-three__left">
                            <div class="section-title text-left">
                                <div class="section-title__icon">
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="section-title__tagline">Our testimonials</span>
                                <h2 class="section-title__title">People are
                                    appreciating <br>
                                    our services & products?</h2>
                            </div>
                            <p class="testimonial-three-left__text">Some of the congratulatory and appreciation quotes
                                that were shared by some of our valued clients.</p>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="testimonial-three__right">
                            <div class="testimonial-three__carousel thm-owl__carousel owl-theme owl-carousel"
                                data-owl-options='{
                                "items": 3,
                                "margin": 30,
                                "smartSpeed": 700,
                                "loop":true,
                                "autoplay": false,
                                "nav":false,
                                "dots":false,
                                "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                                "responsive":{
                                    "0":{
                                        "items":1
                                    },
                                    "768":{
                                        "items":2
                                    },
                                    "992":{
                                        "items": 2
                                    },
                                    "1200":{
                                        "items": 1.333333
                                    }
                                }
                            }'>
                                <!--Testimonial One Single Start-->
                                <div class="item">
                                    <div class="testimonial-three__single">
                                        <div class="testimonial-three__single-inner">
                                            <div class="testimonial-three__shape-1">
                                                <img src="static/assets/images/shapes/testimonial-three-shape-1.png"
                                                    alt="">
                                            </div>
                                            <div class="testimonial-three__shape-2">
                                                <img src="static/assets/images/shapes/testimonial-three-shape-2.png"
                                                    alt="">
                                            </div>
                                            <div class="testimonial-three__quote">
                                                <span class="icon-quote"></span>
                                            </div>
                                            <p class="testimonial-three__text">I hired Mxolisi for a second time to take
                                                care of my website, he provided a good service and he was always on my
                                                side answering my questions and taking care of the tasks assigned. Thank
                                                you!</p>
                                            <div class="testimonial-three__client-info">
                                                <div class="testimonial-three__client-img-box">
                                                    <div class="testimonial-three__client-img">
                                                        <img src="static/assets/images/mcanda/test-1.png.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-three__client-content">
                                                    <div class="testimonial-three__client-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <h3 class="testimonial-three__client-name">Nkosinathi Mkhabela</h3>
                                                    <p class="testimonial-three__client-sub-title">Theologist</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Testimonial One Single End-->
                                <!--Testimonial One Single Start-->
                                <div class="item">
                                    <div class="testimonial-three__single">
                                        <div class="testimonial-three__single-inner">
                                            <div class="testimonial-three__shape-1">
                                                <img src="static/assets/images/shapes/testimonial-three-shape-1.png"
                                                    alt="">
                                            </div>
                                            <div class="testimonial-three__shape-2">
                                                <img src="static/assets/images/shapes/testimonial-three-shape-2.png"
                                                    alt="">
                                            </div>
                                            <div class="testimonial-three__quote">
                                                <span class="icon-quote"></span>
                                            </div>
                                            <p class="testimonial-three__text">They are the best in what they do and
                                                excellence in delivering what you want, and professional in developing
                                                websites, they will guide you even if you don't know anything in digital
                                                marketing and more about your business.</p>
                                            <div class="testimonial-three__client-info">
                                                <div class="testimonial-three__client-img-box">
                                                    <div class="testimonial-three__client-img">
                                                        <img src="static/assets/images/mcanda/Capture_3.png.PNG" alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-three__client-content">
                                                    <div class="testimonial-three__client-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <h3 class="testimonial-three__client-name">Porcia Magagula</h3>
                                                    <p class="testimonial-three__client-sub-title">Teacher</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Testimonial One Single End-->
                                <!--Testimonial One Single Start-->
                                <div class="item">
                                    <div class="testimonial-three__single">
                                        <div class="testimonial-three__single-inner">
                                            <div class="testimonial-three__shape-1">
                                                <img src="static/assets/images/shapes/testimonial-three-shape-1.png"
                                                    alt="">
                                            </div>
                                            <div class="testimonial-three__shape-2">
                                                <img src="static/assets/images/shapes/testimonial-three-shape-2.png"
                                                    alt="">
                                            </div>
                                            <div class="testimonial-three__quote">
                                                <span class="icon-quote"></span>
                                            </div>
                                            <p class="testimonial-three__text"> Perfect communication. I worked with web
                                                developer from Mcanda over the past few weeks to build our website from
                                                scratch. My highest appreciation for his patience and his
                                                professionalism.</p>
                                            <div class="testimonial-three__client-info">
                                                <div class="testimonial-three__client-img-box">
                                                    <div class="testimonial-three__client-img">
                                                        <img src="static/assets/images/testimonial/testimonial-3-4.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-three__client-content">
                                                    <div class="testimonial-three__client-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <h3 class="testimonial-three__client-name">David Coper</h3>
                                                    <p class="testimonial-three__client-sub-title">Businessman</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Testimonial One Single End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tesimonial Three End-->

        <!--Counter Three Start-->
        <section class="counter-three">
            <div class="counter-two__bg"
                style="background-image: url(/static/assets/images/mcanda/carousel-4.png.jpg);">
            </div>
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__icon">
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="section-title__tagline">company in numbers</span>
                    <h2 class="section-title__title">We're your reliable digital,
                        <br> online solution
                    </h2>
                </div>
                <div class="counter-two__inner">
                    <ul class="counter-two__list list-unstyled">
                        <li>
                            <div class="counter-two__count">
                                <h3 class="odometer" data-count="1">00</h3>
                                <span class="">k</span>
                            </div>
                            <p class="counter-two__text">Estimate people
                                <br> following us
                            </p>
                        </li>
                        <li>
                            <div class="counter-two__count">
                                <h3 class="odometer" data-count="4">00</h3>
                                <span class="">th</span>
                            </div>
                            <p class="counter-two__text">Average home costs
                                <br> of ownership
                            </p>
                        </li>
                        <li>
                            <div class="counter-two__count">
                                <h3 class="odometer" data-count="70">00</h3>
                                <span class="">%</span>
                            </div>
                            <p class="counter-two__text">Avarage overall
                                <br> performance
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Counter Three End-->



        <!--Brand Four Start-->
        <section class="brand-four">
            <div class="container">
                <div class="brand-one__title">
                    <p>Our Core Values</p>
                </div>
                <div class="brand-one__carousel thm-owl__carousel owl-theme owl-carousel" data-owl-options='{
                    "items": 3,
                    "margin": 30,
                    "smartSpeed": 700,
                    "loop":true,
                    "autoplay": 6000,
                    "nav":false,
                    "dots":false,
                    "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive":{
                        "0":{
                            "items":1
                        },
                        "768":{
                            "items":3
                        },
                        "992":{
                            "items": 5
                        }
                    }
                }'>

                    <!--Brand One Single-->
                    <div class="brand-one__single">
                        <div class="brand-one__img">
                            <img src="static/assets/images/mcanda/clients/k.png.jpg" alt="">
                        </div>
                    </div>
                    <!--Brand One Single-->
                    <div class="brand-one__single">
                        <div class="brand-one__img">
                            <img src="static/assets/images/mcanda/clients/e.png.jpg" alt="">
                        </div>
                    </div>
                    <!--Brand One Single-->
                    <div class="brand-one__single">
                        <div class="brand-one__img">
                            <img src="static/assets/images/mcanda/clients/l.png.jpg" alt="">
                        </div>
                    </div>
                    <!--Brand One Single-->

                </div>
                <!-- If we need navigation buttons -->
            </div>
        </section>
        <!--Brand Four End-->
        {% endblock mainbody %}

 