<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Pannel | McandaInvestments.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<style>
    .radiodivouter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* #fileinputdiv{
        display: none;
    } */
    .dnone {
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>

<body>
    <nav>
        <h1 class="text-center my-3">Manage Newsletter Emails</h1>
        <a href="/logout/{{userLoggedIn.username}}" class="btn btn-success">Log Out</a>
    </nav>
    <div class="container">
        <h4 class="text-center">Send Bulk Emails to subscribers</h4>
        <p class="text-center">Send a simple text message or choose a custom HTML file for sending Email</p>
        <div class="action">
            <div class="radiodivouter">
                <div class="radiodivinner">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="textradio" value="option1"
                            checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Send simple/plain text
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="htmlradio"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Send a custom HTML file
                        </label>
                    </div>
                </div>
            </div>
            <form id="bulkemailform" enctype="multipart/form-data">
                <div class="form-group" id="textinputdiv">
                    <textarea required class="form-control my-3" id="textinput" rows="3"
                        placeholder="Enter your message here or choose to upload an HTML file"></textarea>
                </div>
                <div class="form-group dnone" id="fileinputdiv">
                    <label for="exampleFormControlFile1">Attach a custom HTML file</label>
                    <input type="file" class="form-control-file" id="emailfileinput">
                </div>
                <button type="submit" id="submitBtn" class="my-3 btn btn-dark">Send Bulk Email</button>
            </form>
        </div>
        <h4 class="my-1">Subscribed Users</h4>
        <table class="userstable table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% if userlist|length > 0 %}
                {% for user in userlist %}
                <tr>
                    <th scope="row">{{userlist.index(user) + 1}}</th>
                    <td class="email-text-row">{{user.email}}</td>
                    <td><a class="btn btn-danger" href="/admin/delete-subscriber/{{user.email}}">Delete User</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <p><strong style="color: red;">Sorry, the database is empty. No subscriber to show here</strong></p>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.58/darkreader.min.js"></script>
</body>

<script>

    document.body.onload = function(){
        DarkReader.auto(false);
        DarkReader.enable({
            brightness: 100,
            contrast: 90,
            sepia: 10
        });
    }

    let textradio = document.getElementById('textradio');
    let htmlradio = document.getElementById('htmlradio');
    let textinput = document.getElementById('textinput');
    let emailfileinput = document.getElementById('emailfileinput');
    let fileinputdiv = document.getElementById('fileinputdiv');
    let textinputdiv = document.getElementById('textinputdiv');
    let submitBtn = document.getElementById('submitBtn');
    let bulkEmailForm = document.getElementById('bulkemailform');
    let emailRowList = document.querySelectorAll('.email-text-row');
    let emailRowArray = Array.from(emailRowList);
    let mail_send_progress = 0
    let input_mode = 'text'
    function increment_progress(){
        let userIndex = mail_send_progress + 1;
        submitBtn.innerHTML = `Successfully sent email to ${userIndex} users`;
        mail_send_progress = mail_send_progress + 1;
    }

    textradio.addEventListener('change', (e) => {
        if (e.target.checked) {
            console.log('text activated');
            input_mode = 'text'
            textinputdiv.classList.toggle('dnone');
            fileinputdiv.classList.toggle('dnone');
            textinput.setAttribute('required', true);
            emailfileinput.setAttribute('required', false);
        }
    });

    htmlradio.addEventListener('change', (e) => {
        if (e.target.checked) {
            console.log('html activated');
            input_mode = 'html'
            fileinputdiv.classList.toggle('dnone');
            textinputdiv.classList.toggle('dnone');
            textinput.setAttribute('required', false);
            emailfileinput.setAttribute('required', true);
        }
    });

    async function sendmail(type, userEmail, userIndex) {
        if (type == 'text') {
            console.log('type is text')
            // let data = JSON.stringify({ 'emailcontent': textinput.value, 'text': true });
            let data = { 'emailcontent': textinput.value, 'text': true };
            await fetch(`/admin/send-newsletter-mail/${userEmail}`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: new Headers({ 'content-type': 'application/json' })
            }).then((response) => {
                return response.json();
            }).then((responseJson) => {
                console.log(`Sent to ${userIndex} users`);
                increment_progress();         
            });
        }
        else if (type == 'html') {
            console.log('type is html')
            let formDataObj = new FormData();
            let htmlFile = emailfileinput.files[0];
            formDataObj.append('text', false);
            formDataObj.append('emailcontent', htmlFile);
            await fetch(`/admin/send-newsletter-mail/${userEmail}`, {
                method: "POST",
                body: formDataObj,
                // headers: new Headers({ 'content-type': 'multipart/form-data' })
            }).then((response) => {
                return response.json();
            }).then((responseJson) => {
                console.log(`Sent to ${userIndex} users`);
                increment_progress();
            });
        }
    }

    submitBtn.addEventListener('click', (e) => {
        e.preventDefault();
        if (input_mode == 'text') {
            if (textinput.value == ""){
                window.alert('Please enter a message first. Then press the send bulk email button')
            }
            else{
                submitBtn.innerHTML = 'Connecting to the server';
                emailRowArray.forEach(emailRow => {
            // console.log(emailRow.innerText);
            // console.log(emailRowArray.indexOf(emailRow));
            let userindex_ = emailRowArray.indexOf(emailRow) + 1;
            sendmail(type = input_mode, email = emailRow.innerText, userIndex = userindex_);
            // submitBtn.innerHTML = `Successfully sent email to ${userindex_} users`;
            
        });
            }
        } else {
            if (emailfileinput.value == ""){
                window.alert('Please attach an HTML file first. Then press the send bulk email button')
            }
            else{
                submitBtn.innerHTML = 'Connecting to the server';
                emailRowArray.forEach(emailRow => {
            // console.log(emailRow.innerText);
            // console.log(emailRowArray.indexOf(emailRow));
            let userindex_ = emailRowArray.indexOf(emailRow) + 1;
            sendmail(type = input_mode, email = emailRow.innerText, userIndex = userindex_);
            // submitBtn.innerHTML = `Successfully sent email to ${userindex_} users`;
            
        });
            }
        }
    })

</script>

</html>