<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mcanda Investments (Pty) Ltd.</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/images/mcanda/new_pic.png.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/images/mcanda/new_pic.png.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/mcanda/new_pic.png.jpg">
    <link rel="manifest" href="static/assets/images/mcanda/new_pic.png.jpg">
    <meta name="description" content="govity HTML 5 Template ">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link href="../../css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/vendors/animate/animate.min.css">
    <link rel="stylesheet" href="static/assets/vendors/animate/custom-animate.css">
    <link rel="stylesheet" href="static/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="static/assets/vendors/jarallax/jarallax.css">
    <link rel="stylesheet" href="static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
    <link rel="stylesheet" href="static/assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="static/assets/vendors/nouislider/nouislider.pips.css">
    <link rel="stylesheet" href="static/assets/vendors/odometer/odometer.min.css">
    <link rel="stylesheet" href="static/assets/vendors/swiper/swiper.min.css">
    <link rel="stylesheet" href="static/assets/vendors/govity-icons/style.css">
    <link rel="stylesheet" href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="static/assets/vendors/tiny-slider/tiny-slider.min.css">
    <link rel="stylesheet" href="static/assets/vendors/reey-font/stylesheet.css">
    <link rel="stylesheet" href="static/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/assets/vendors/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="static/assets/vendors/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="static/assets/vendors/vegas/vegas.min.css">
    <link rel="stylesheet" href="static/assets/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="static/assets/vendors/timepicker/timePicker.css">
    <link rel="stylesheet" href="static/assets/vendors/nice-select/nice-select.css">

    <!-- template styles -->
    <link rel="stylesheet" href="static/assets/css/govity.css">
    <link rel="stylesheet" href="static/assets/css/govity-responsive.css">
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header">
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__logo">
                            <a href="/"><img src="static/assets/images/mcanda/logo-presence.jpg" alt=""></a>
                        </div>
                        <div class="main-menu__top">
                            <div class="main-menu__top-inner">
                                <div class="main-menu__top-left">
                                    <div class="main-menu__social">
                                        <a href="https://www.twitter.com/mcanda investments"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/Mcanda-Investments-112579720609492/?ref=pages_you_manage"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="https://instagram.com/mcanda.investments"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="main-menu__top-right">
                                    <ul class="list-unstyled main-menu__contact-list">
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:info@mcandainvest.com">info@mcandainvest.com</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-clock"></i>
                                            </div>
                                            <div class="text">
                                                <p>Open hours: Mon - Sat | 7.00 am - 5.00 pm</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled main-menu__top-menu">
                                        <li><a href="/static/documents/Mcanda Company Profile.pdf">Company Profile</a></li>
                                        <li><a href="/contact">Bookings</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu__bottom">
                            <div class="main-menu__bottom-inner">
                                <div class="main-menu__main-menu-box">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                    <ul class="main-menu__list">
                                        <li class="dropdown megamenu">
                                            <a href="/">Home </a>
                                            <ul>
                                                <li>
                                                   
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">About Us</a>
                                            <ul class="sub-menu">
                                                <li><a href="/about">About Us</a></li>                                                
                                                <li><a href="/team">Team</a></li>                                                
                                                <li><a href="/faq">FAQs</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="/our_services">Services</a>
                                            
                                        </li>
                                        
                                        <li class="dropdown">
                                            <a href="/news">Blog</a>
                                            
                                        </li>
                                        
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-menu__right">
                                    <div class="main-menu__call">
                                        <div class="main-menu__call-icon">
                                            <span class="icon-telephone"></span>
                                        </div>
                                        <div class="main-menu__call-content">
                                            <p class="main-menu__call-sub-title">Call Anytime</p>
                                            <h5 class="main-menu__call-number"><a href="tel:76076247">+268
                                                    76076247</a></h5>
                                        </div>
                                    </div>
                                    <div class="main-menu__search-box">
                                        <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                    </div>
                                    <div class="language-switcher">
                                        <select class="selectpicker">
                                            <option data-content="<span class='lang-en'><img src='assets/images/lang-flag/en.png' alt=''>English</span>" value="en" selected="">English</option>
                                            <option data-content="<span class='lang-fr'><img src='assets/images/lang-flag/fr.png' alt=''>French</span>" value="fr">French
                                            </option>

                                            <option data-content="<span class='lang-it'><img src='assets/images/lang-flag/it.png' alt=''>Italian</span>" value="it">
                                                Italian</option>
                                        </select>

                                    </div>
                                    <div class="main-menu__btn-box">
                                        <a href="/contact" class="thm-btn main-menu__btn">Report Issue</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        {% block pageheader %}
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(/static/assets/images/mcanda/cloud.png.jfif)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>{{headertitle}}</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><span>/</span></li>
                        <li>{{headertitle}}</li>
                    </ul>
                </div>
            </div>
        </section>
        {% endblock pageheader %}

        {% block mainslider %}
        <!-- Main Sllider Start -->
        <section class="main-slider">
            <div class="main-slider__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{"loop": true, "items": 1, "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"], "margin": 0, "dots": true, "nav": true, "animateOut": "slideOutDown", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000, "autoplay": true, "autoplayTimeout": 7800, "autoplayHoverPause": false}'>

                <div class="item main-slider__slide-1">
                    <div class="main-slider__bg" style="background-image: url(static/assets/images/mcanda/call.png.jpg);">
                    </div><!-- /.slider-one__bg -->
                    <div class="main-slider__shape-1">
                        <img src="static/assets/images/shapes/main-slider-shape-1.png" alt="">
                    </div>
                    <div class="main-slider__shape-2">
                        <img src="static/assets/images/shapes/main-slider-shape-2.png" alt="">
                    </div>
                    <div class="main-slider__shape-3">
                        <img src="static/assets/images/shapes/main-slider-shape-3.png" alt="">
                    </div>
                    <div class="main-slider__meta-box">
                        <ul class="main-slider__meta list-unstyled">
                            <li>
                                
                                <div class="icon">
                                    <span class="fas fa-sun"></span>
                                </div>
                                <div class="text">
                                    <!-- <p>Today: 32 0C</p> -->
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fas fa-clock"></span>
                                </div>
                                <div class="text">
                                    <!-- <p>Time: 09:28 pm</p> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="main-slider__content">
                            
                            <h2 class="main-slider__title">Event photographing,
                                <br> videographing.</h2>
                                <p class="main-slider__sub-title">Photographs and video clips for personal, commercial, technical <br>and educational purposes.</p>
                            <div class="main-slider__btn-box">
                                <a href="/our_services" class="main-slider__btn thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item main-slider__slide-2">
                    <div class="main-slider__bg" style="background-image: url(static/assets/images/mcanda/printer.jpg);">
                    </div><!-- /.slider-one__bg -->
                    <div class="main-slider__shape-1">
                        <img src="static/assets/images/shapes/team-one-shape-3.png" alt="">
                    </div>
                    <div class="main-slider__shape-2">
                        <img src="static/assets/images/shapes/main-slider-shape-2.png" alt="">
                    </div>
                    <div class="main-slider__shape-3">
                        <img src="static/assets/images/shapes/main-slider-shape-3.png" alt="">
                    </div>
                    <div class="main-slider__meta-box">
                        <ul class="main-slider__meta list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="fas fa-sun"></span>
                                </div>
                                <div class="text">
                                    <!-- <p>Today: 32 0C</p> -->
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fas fa-clock"></span>
                                </div>
                                <div class="text">
                                    <!-- <p>Time: 09:28 pm</p> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="main-slider__content">
                            
                            <h2 class="main-slider__title">Printing, scanning 
                                <br>services.</h2>
                                <p class="main-slider__sub-title">Our target market is the corporate sector located in Eswatini.</p>
                            <div class="main-slider__btn-box">
                                <a href="/our_services" class="main-slider__btn thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>                </div>

                <div class="item main-slider__slide-3">
                    <div class="main-slider__bg" style="background-image: url(static/assets/images/mcanda/ds.png.jfif);">
                    </div><!-- /.slider-one__bg -->
                    <div class="main-slider__shape-1">
                        <img src="static/assets/images/shapes/main-slider-shape-1.png" alt="">
                    </div>
                    <div class="main-slider__shape-2">
                        <img src="static/assets/images/shapes/main-slider-shape-2.png" alt="">
                    </div>
                    <div class="main-slider__shape-3">
                        <img src="static/assets/images/shapes/main-slider-shape-3.png" alt="">
                    </div>
                    <div class="main-slider__meta-box">
                        <ul class="main-slider__meta list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="fas fa-sun"></span>
                                </div>
                                <div class="text">
                                    <!-- <p>Today: 32 0C</p> -->
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fas fa-clock"></span>
                                </div>
                                <div class="text">
                                    <!-- <p>Time: 09:28 pm</p> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="main-slider__content">
                            
                            <h2 class="main-slider__title">DStv Satellite installation
                                <br></h2>
                                <p class="main-slider__sub-title">DStv Satellite Installations and fault finding.</p>
                            <div class="main-slider__btn-box">
                                <a href="/about" class="main-slider__btn thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        {% endblock mainslider %}

        {% block mainbody %}

        <!--Department One Start-->
        <section class="department-one">
            <div class="department-one__bg" style="background-image: url(static/assets/images/backgrounds/department-one-bg.png);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="department-one__inner">
                            <ul class="department-one__list list-unstyled">
                                <li class="department-one__single">
                                    <div class="department-one__content">
                                        <h3 class="department-one__title"><a href="/our_services">Web
                                                <br>  Design</a></h3>
                                        <div class="department-one__icon">
                                            <span class="bi bi-globe"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="department-one__single">
                                    <div class="department-one__content">
                                        <h3 class="department-one__title"><a href="/our_services">Videography &
                                                <br> Photography</a></h3>
                                        <div class="department-one__icon">
                                            <span class="bi bi-camera"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="department-one__single">
                                    <div class="department-one__content">
                                        <h3 class="department-one__title"><a href="/our_services">Mobile
                                                <br> App</a></h3>
                                        <div class="department-one__icon">
                                            <span class="bi bi-android"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="department-one__single">
                                    <div class="department-one__content">
                                        <h3 class="department-one__title"><a href="/our_services">Sound
                                                <br> System</a></h3>
                                        <div class="department-one__icon">
                                            <span class="bi bi-speaker"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="department-one__single">
                                    <div class="department-one__content">
                                        <h3 class="department-one__title"><a href="/our_services">Software
                                                <br> Development</a></h3>
                                        <div class="department-one__icon">
                                            <span class="bi bi-braces"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="department-one__text">Get our quick services from the company. <a href="/our_services">View
                                    all services</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Department One End-->

        <!--About One Start-->
        <section class="about-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-one__left">
                            <div class="about-one__shape-1 float-bob-x">
                                <img src="static/assets/images/shapes/about-one-shape-1.png" alt="">
                            </div>
                            <div class="about-one__shape-3 float-bob-y">
                                <img src="static/assets/images/mcanda/stack.png.jpg" alt="">
                            </div>
                            <div class="about-one__img-box">
                                <div class="about-one__img">
                                    <img src="static/assets/images/mcanda/fakudze.png" alt="">
                                </div>
                                <div class="about-one__img-2">
                                    <img src="static/assets/images/mcanda/khumalo.png" alt="">
                                </div>
                                <div class="about-one__shape-2">
                                    <img src="static/assets/images/shapes/about-one-shape-2.png" alt="">
                                </div>
                                <div class="about-one__video-link">
                                    <a href="" class="video-popup">
                                        <div class="about-one__video-icon">
                                            <span class="fa fa-play"></span>
                                            <i class="ripple"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="about-one__call-box">
                                    <div class="about-one__call-icon">
                                        <span class="icon-government-1"></span>
                                    </div>
                                    <div class="about-one__call-box-content">
                                        <p class="about-one__call-text">Director</p>
                                        <h4 class="about-one__call-number"><a href="tel:76076247">(+268) 76077977</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__right">
                            <div class="section-title text-left">
                                <div class="section-title__icon">
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="section-title__tagline">Welcome to Mcanda Investments</span>
                                <h2 class="section-title__title">"It is beacause of your presence"</h2>
                            </div>
                            <p class="about-one__text">Mcanda Investment Pty (Ltd) is a privately owned company established in the year 2012.</p>
                            <div class="about-one__icon-and-big-text">
                                <div class="about-one__icon">
                                    <span class="bi bi-building"></span>
                                </div>
                                <p class="about-one__big-text">Great platform & place to develop your technology &
                                    business.</p>
                            </div>
                            <p class="about-one__text-2">There are many variations of services and products available.</p>
                            <div class="about-one__btn-box-and-signature">
                                <a href="/about" class="about-one__btn thm-btn">Discover More</a>
                                <div class="about-one__signature">
                                    <img src="static/assets/images/last-images/signature.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About One End-->

        <!--Video One Start-->
        <section class="video-one">
            <div class="video-one__bg jarallax" data-jarallax="" data-speed="0.2" data-imgposition="50% 0%" style="background-image: url(static/assets/images/mcanda/mcanda5.png.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="video-one__inner">
                            <div class="video-one__video-link">
                                <a href="" class="video-popup">
                                    <div class="video-one__video-icon">
                                        <span class="fa fa-play"></span>
                                        <i class="ripple"></i>
                                    </div>
                                </a>
                            </div>
                            <h2 class="video-one__video-title">We're your reliable digital,
                                <br> online solution</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Video One End-->

        <!-- Documents One Start -->
        <section class="documents-one">
            <div class="container">
                <div class="documents-one__inner">
                    <div class="documents-one__left">
                        <p>Downloadable <br> documents</p>
                    </div>
                    <div class="documents-one__right">
                        <ul class="documents-one__points list-unstyled">
                            <li>
                                <div class="documents-one__single">
                                    <div class="documents-one__content">
                                        <div class="documents-one__icon">
                                            <span class="icon-download-circular-button"></span>
                                        </div>
                                        <h3 class="documents-one__title">Company Profile</a></h3>
                                        <p class="documents-one__text"><a href="/static/documents/Mcanda Company Profile.pdf">Download the company profile file</a></p>
                                    </div>
                                    <div class="documents-one__icon-two">
                                        <a href="#"></a><span class="icon-pdf-file"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="documents-one__single">
                                    <div class="documents-one__content">
                                        <div class="documents-one__icon">
                                            <span class="icon-download-circular-button"></span>
                                        </div>
                                        <h3 class="documents-one__title">Annual General Reports</a></h3>
                                        <p class="documents-one__text"><a href="#">Download the annual report file </a></p>
                                    </div>
                                    <div class="documents-one__icon-two">
                                        <span class="icon-pdf-file"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Documents One End-->

        <!--Counter One Start-->
        <section class="counter-one">
            <div class="counter-one__bg" style="background-image: url(static/assets/images/mcanda/carousel-4.png.jpg);">
            </div>
            <div class="container">
                <div class="counter-one__inner">
                    <ul class="counter-one__list list-unstyled">
                        <li>
                            <div class="counter-one__count">
                                <h3 class="odometer" data-count="1">00</h3>
                                <span class="">k</span>
                            </div>
                            <p class="counter-one__text">Estimate people
                                <br> following us</p>
                        </li>
                        <li>
                            <div class="counter-one__count">
                                <h3 class="odometer" data-count="4">00</h3>
                                <span class="">th</span>
                            </div>
                            <p class="counter-one__text">Average home costs
                                <br> of ownership</p>
                        </li>
                        <li>
                            <div class="counter-one__count">
                                <h3 class="odometer" data-count="70">00</h3>
                                <span class="">%</span>
                            </div>
                            <p class="counter-one__text">Avarage overall 
                                <br> performance</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Counter One End-->

        <!--News One Start-->
        <section class="news-one">
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__icon">
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="section-title__tagline">Latest News</span>
                    <h2 class="section-title__title">Latest news & articles
                        <br> from the blog</h2>
                </div>
                <div class="row">
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <div class="news-one__img">
                                    <img src="static/assets/images/mcanda/lab.png.jpg" alt="">
                                </div>
                                <div class="news-one__date">
                                    <p>30 <br> JAN</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <div class="news-one__user-and-meta">
                                    <div class="news-one__user">
                                        <div class="news-one__user-img">
                                            <img src="static/assets/images/mcanda/admin_mxo.png" alt="">
                                        </div>
                                        <div class="news-one__user-text">
                                           <a href="/mxolisi"> <p>by <br>Admin</a></p>
                                        </div>
                                    </div>
                                    <div class="news-one__meta">
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="news-one__title"><a href="/news">Setting up new computer
                                        lab</a>
                                </h3>
                                <div class="news-one__btn">
                                    <a href="news.html">Read More<i class="icon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <div class="news-one__img">
                                    <img src="static/assets/images/mcanda/video.png.jpg" alt="">
                                </div>
                                <div class="news-one__date">
                                    <p>12 <br> JUN</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <div class="news-one__user-and-meta">
                                    <div class="news-one__user">
                                        <div class="news-one__user-img">
                                            <img src="static/assets/images/mcanda/admin_mxo.png" alt="">
                                        </div>
                                        <div class="news-one__user-text">
                                        <a href="/mxolisi"> <p>by <br>Admin</a></p>
                                        </div>
                                    </div>
                                    <div class="news-one__meta">
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>1 Comment</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="news-one__title"><a href="/news">In videography<br> services</a>
                                </h3>
                                <div class="news-one__btn">
                                    <a href="news.html">Read More<i class="icon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <div class="news-one__img">
                                    <img src="static/assets/images/mcanda/carousel-4.png.jpg" alt="">
                                </div>
                                <div class="news-one__date">
                                    <p>01 <br> AUG</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <div class="news-one__user-and-meta">
                                    <div class="news-one__user">
                                        <div class="news-one__user-img">
                                            <img src="static/assets/images/mcanda/admin_mxo.png" alt="">
                                        </div>
                                        <div class="news-one__user-text">
                                        <a href="/mxolisi"> <p>by <br>Admin</a></p>
                                        </div>
                                    </div>
                                    <div class="news-one__meta">
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="news-one__title"><a href="/news">In complete control of
                                        a wedding ceremony</a>
                                </h3>
                                <div class="news-one__btn">
                                    <a href="news.html">Read More<i class="icon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                </div>
            </div>
        </section>
        <!--News One End-->

        {% endblock mainbody %}

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__img">
                <img src="static/assets/images/resources/site-footer-img.jpg" alt="">
            </div>
            <div class="container">
                <div class="site-footer__top">
                    <div class="footer-widget__logo">
                        <a href="/"><img src="static/assets/images/mcanda/footer-logo.jpg" alt=""></a>
                    </div>
                    <div class="footer-widget__subscribe-box">
                        <div class="footer-widget__subscribe-text">
                            <p>Subscribe to Newsletter</p>
                        </div>
                        <form action="/subscribe" id="subs-form" method="post" class="footer-widget__email-box mc-form" data-url="#">
                            <div class="footer-widget__email-input-box">
                                <input id="subsEmailInput" type="email" placeholder="Email Address" name="email">
                            </div>
                            <button type="submit" id="subs-form-btn" class="footer-widget__subscribe-btn thm-btn">Subscribe</button>
                        </form>
                        <div class="mc-form__response"></div><!-- /.mc-form__response -->
                    </div>
                </div>
                <div class="site-footer__middle">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__Contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Contact</h3>
                                </div>
                                <p class="footer-widget__Contact-text">Opposite UNESWA entrance, Kwaluseni <br> Matsapha, Eswatini
                                </p>
                                <ul class="footer-widget__Contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-email"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:info@mcandainvest.com">info@mcandainvest.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-phone-square"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="tel:+26876076247">(+268) 76077977</a></p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__link">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Links</h3>
                                </div>
                                <ul class="footer-widget__link-list list-unstyled">
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/team">Our Team</a></li>
                                    <li><a href="#">Upcoming Events</a></li>
                                    <li><a href="/news">Latest News</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__departments">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Departments</h3>
                                </div>
                                <ul class="footer-widget__link-list list-unstyled">
                                    <li><a href="#">Health & Safety</a></li>
                                    <li><a href="#">Housing & Land</a></li>
                                    <li><a href="#">Legal & Finance</a></li>
                                    <li><a href="#">Transport & Traffic</a></li>
                                    <li><a href="#">Arts & Culture</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__explore">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Explore</h3>
                                </div>
                                <ul class="footer-widget__link-list list-unstyled">
                                    <li><a href="/about">Administration</a></li>
                                    <li><a href="#">Fire Services</a></li>
                                    <li><a href="#">Business & Taxation</a></li>
                                    <li><a href="/about">Circular’s And Go’s</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <div class="footer-widget__column footer-widget__gallery">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Gallery</h3>
                                </div>
                                <ul class="footer-widget__gallery-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="static/assets/images/mcanda/carousel-1.png.jpg" alt="">
                                            <a href="static/assets/images/mcanda/carousel-1.png.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="static/assets/images/mcanda/carousel-4.png.jpg" alt="">
                                            <a href="static/assets/images/mcanda/carousel-4.png.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="static/assets/images/mcanda/system.png.jpg" alt="">
                                            <a href="static/assets/images/mcanda/system.png.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="static/assets/images/mcanda/br.png" alt="">
                                            <a href="static/assets/images/mcanda/br.png" class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="static/assets/images/mcanda/background4.png.jpg" alt="">
                                            <a href="static/assets/images/mcanda/background4.png.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="static/assets/images/mcanda/record.png.jpg" alt="">
                                            <a href="static/assets/images/mcanda/record.png.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">© Copyright 2023 <strong>Mcanda</strong> | Website Designed by<a href="#"> mxolisi</a> | Backend Programming by<a target="_blank" href="https://www.facebook.com/msalmankhokhar13/"> Salman Khokhar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="static/assets/images/mcanda/logo-presence.jpg" width="94" alt=""></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@mcandainvest.com">info@mcandainvest.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:76076247">(+268) 76077977</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>


    <script src="static/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="static/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="static/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="static/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="static/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="static/assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="static/assets/vendors/odometer/odometer.min.js"></script>
    <script src="static/assets/vendors/swiper/swiper.min.js"></script>
    <script src="static/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="static/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="static/assets/vendors/wow/wow.js"></script>
    <script src="static/assets/vendors/isotope/isotope.js"></script>
    <script src="static/assets/vendors/countdown/countdown.min.js"></script>
    <script src="static/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="static/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="static/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="static/assets/vendors/vegas/vegas.min.js"></script>
    <script src="static/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="static/assets/vendors/timepicker/timePicker.js"></script>
    <script src="static/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="static/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="static/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    



    <!-- template js -->
    <script src="static/assets/js/govity.js"></script>
<script type="text/javascript">

    subsForm = document.getElementById('subs-form');
    subsBtn = document.getElementById('subs-form-btn');
    subsEmailInput = document.getElementById('subsEmailInput');

    subsBtn.addEventListener('click', (e)=>{
        e.preventDefault();
        e.target.innerHTML = 'Loading'
        let userEmail = subsEmailInput.value;
        xhr = new XMLHttpRequest();
        xhr.open('POST', '/subscribe', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        let formData = { 'email' : userEmail };
        xhr.onprogress = function(){
            console.log('onprogress')
            // subsBtn.innerHTML = 'Loading ..';
        }
        xhr.onload = function() {
            subsForm.reset();
            let error = JSON.parse(xhr.responseText)['error'];
            if (error['state']){
                subsBtn.style.backgroundColor = 'red'
            }
            // subsBtn.innerHTML = 'Successfully Subscribed';
            console.log(error['msg'])
            subsBtn.disabled = true;
            subsBtn.innerHTML = error['msg'];
                   }
        xhr.send(JSON.stringify(formData))
    })

</script>
</body>

</html>