{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}



{% block mainbody %} 
  
        <!--Search Box Start-->
        <section class="search-box">
            <div class="container">
                <div class="search-box__inner">
                    <div class="search-box__left">
                        <h3 class="search-box__title">We’re here to help you</h3>
                        <form class="search-box__form">
                            <div class="search-box__form-input">
                                <input type="search" placeholder="Search Here">
                                <button type="submit"><i class="icon-magnifying-glass"></i></button>
                            </div>
                        </form>
                        <p class="search-box__text">Or choose <span>contact us</span> and explain us everything you
                            need?</p>
                    </div>
                    <div class="search-box__right">
                        <div class="search-box__img">
                            <img src="static/assets/images/resources/search-box-img.png" alt="">
                        </div>
                        <div class="search-box__call">
                            <h3 class="search-box__call-title">Still have questions?
                                <br> contact now</h3>
                            <div class="search-box__call-content">
                                <div class="search-box__call-icon">
                                    <span class="icon-telephone"></span>
                                </div>
                                <div class="search-box__call-number">
                                    <p>Call Anytime</p>
                                    <h3><a href="tel:+26876076247">(+268) 76076247</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Search Box End-->

        <!--FAQ Page Start-->
        <section class="faq-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="faq-page__left">
                            <div class="faq-page__left-icon-and-text">
                                <div class="faq-page__left-icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <div class="faq-page__left-text">
                                    <p>Frequently asked
                                        <br> questions</p>
                                </div>
                            </div>
                            <div class="faq-page__text-box-2">
                                <p class="faq-page__left-text-2">Some of the frequently asked questions and relevant
                                    answers from concerned stakeholders.</p>
                                <a href="/contact" class="faq-page__left-btn thm-btn">Contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="faq-page__right">
                            <div class="faq-one__right">
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>Is Mcanda Investment (Pty) Ltd a registered company ? </h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>Yes, indeed it is a registered professional organization with dignity attribute. It was passed by the Ministry of Commerce, Industry ,and Trade (Department of Commerce) on 22 September, 2012.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion  active">
                                        <div class="accrodion-title">
                                            <h4>What are the conditions that come with a building plan approval ?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>• A copy of the building permit and stamped drawings shall be kept on-site for inspection by the building controlling officer / Town Engineer.<br/>

• There will be regularly scheduled site inspections.<br/>

• Safe construction practices; proper waste management and environmental protection.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>How do you make the website or mobile app ?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>That's depend from the customer's requirements. The customer tell his or her willing interfaces, features and functions of that particular system or software. Charges also depend on the dignity of the system in terms of responsiveness, functionality, performance, animation, or standard.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>How do you offer videography services ?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>A customer needing Mcanda's videography services supposed to book or make some arrangements with the company officials prior the event.
                                                     Or you can just diall its mobile number - 76076247 and make an order.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>Are you limited in branding ?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>No, we are not limited in our branding services. We can brand almost everything more especially;<br/>• Clothes

<br/>• Public transport vehicles<br/>

• Etc.</p>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--FAQ Page End-->
        
        {% endblock mainbody %}