{% extends 'base.html' %}

{% block title %}Mxolisi | McandaInvestments{% endblock title %}

{% block mainslider %} {% endblock mainslider %}

{% block mainbody %}
        <!--Team Details Start-->
        <section class="team-details">
            <div class="container">
                <div class="team-details__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__left">
                                <div class="team-details__img">
                                    <img src="static/assets/images/mcanda/co.png" alt="">
                                    <div class="team-details__shape-1">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__right">
                                <div class="team-details__top-content">
                                    <h3 class="team-details__top-name">Mxolisi Masuku</h3>
                                    <p class="team-details__top-title">Software Developer</p>
                                    <div class="team-details__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                    <p class="team-details__top-text-1">I am responsible for the organization's technological needs.</p>
                                    <p class="team-details__top-text-2">I develop policies and procedures and use technology to enhance products and services that focus on external customers.</p>
                                    <div class="team-details__contact">
                                        <p>Experience: <span>2 Years</span></p>
                                        <p>Email: <a href="mailto:mxolisi@mcandainvestment.com">mxolisi@mcandainvestment.com</a>
                                        </p>
                                        <p>Phone: <a href="tel:+26876515573">(+268) 76515573</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-details__bottom">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__bottom-left">
                                <h4 class="team-details__bottom-left-title">Personal experience</h4>
                                <p class="team-details__bottom-left-text"> I have a solid and verifiable experience with CSS and HTML, JSON and 
                                     JavaScript, Flutter, PHP Laravel,  Wordpress, and among  others 
                                    and other different frameworks or tools (both front-end & back-end developer skills).
                                    I create the visual aspects of websites. Once the details are determined, I
                                      create the layout, design, prototype and features that display the client's 
                                      services in a way that is appealing to the target audience.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__bottom-right">
                                <div class="team-details__progress">
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Programming</h4>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="70%">
                                                <div class="count-text">70%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Networking</h4>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="46%">
                                                <div class="count-text">46%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Hardware</h4>
                                        <div class="bar marb-0">
                                            <div class="bar-inner count-bar" data-percent="68%">
                                                <div class="count-text">68%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team Details End-->

    {% endblock mainbody %}