{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}

{% block mainbody %} 
        <!--News Details Start-->
        <section class="news-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="news-details__left">
                            <div class="news-details__img-box">
                                <div class="news-details__img">
                                    <img src="static/assets/images/mcanda/lab.png.jpg" alt="">
                                </div>
                                <div class="news-details__date">
                                    <p>30 <br> JAN</p>
                                </div>
                            </div>
                            <div class="news-details__content">
                                <ul class="news-details__meta list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-user-circle"></span>
                                        </div>
                                        <div class="text">
                                            <p>by Admin</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>2 Comments</p>
                                        </div>
                                    </li>
                                </ul>
                                <h3 class="news-details__title-1">Mcanda has been opted for Dvokolwako High School</h3>
                                <p class="news-details__text-1">The Company has been evaluated as the best tenderer of Dvokolwako
                                     High School to set up and configure a new Computer Lab. We installed new 
                                     Operating System like windows and Antivirus Protection. 
                                     Setting the computers' passwords to control authorised users.</p>
                            </div>
                            <div class="news-details__bottom">
                                <p class="news-details__tags">
                                    <span>Tags</span>
                                    <a href="#">ICT Sector</a>
                                    <a href="#">Retailing</a>
                                </p>
                                <div class="news-details__social-list">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="news-details__pagenation-box">
                                <ul class="list-unstyled news-details__pagenation">
                                    <li>Everyone should enjoy the business value chain </li>
                                    <li>"It is because of your presence"</li>
                                </ul>
                            </div>
                            <div class="comment-one">
                                <h3 class="comment-one__title">2 comments</h3>
                                <div class="comment-one__single">
                                    <div class="comment-one__image">
                                        <img src="static/assets/images/mcanda/ndz.png" alt="">
                                    </div>
                                    <div class="comment-one__content">
                                        <h3>Themba Ndzinisa</h3>
                                        <p>The new school lab is highly iconic and
                                             technically set with the new computers by Mcanda.</p>
                                        <a href="#" class="thm-btn comment-one__btn">Reply</a>
                                    </div>
                                </div>
                                <div class="comment-one__single">
                                    <div class="comment-one__image">
                                        <img src="static/assets/images/mcanda/make-1.png" alt="">
                                    </div>
                                    <div class="comment-one__content">
                                        <h3>Magret Lukhele</h3>
                                        <p>The company is dedicated and committed in provision of their services and products with obvious passion.</p>
                                        <a href="#" class="thm-btn comment-one__btn">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-form">
                                <h3 class="comment-form__title">Leave a comment</h3>
                                <form action="assets/inc/sendemail.php" class="comment-one__form contact-form-validated" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="comment-form__input-box">
                                                <input type="text" placeholder="Your Name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="comment-form__input-box">
                                                <input type="email" placeholder="Email Address" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="comment-form__input-box text-message-box">
                                                <textarea name="message" placeholder="Write Comment"></textarea>
                                            </div>
                                            <div class="comment-form__btn-box">
                                                <button type="submit" class="thm-btn comment-form__btn">Submit
                                                    Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar">
                            <div class="sidebar__single sidebar__search">
                                <form action="#" class="sidebar__search-form">
                                    <input type="search" placeholder="Search here">
                                    <button type="submit"><i class="icon-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <div class="sidebar__single sidebar__post">
                                <h3 class="sidebar__title">Latest posts</h3>
                                <ul class="sidebar__post-list list-unstyled">
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="static/assets/images/mcanda/lab.png.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <span class="sidebar__post-content-meta"><i class="fas fa-user-circle"></i>by Admin</span>
                                                <a href="#">New Computer <br>
                                                    Lab</a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="static/assets/images/mcanda/video.png.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <span class="sidebar__post-content-meta"><i class="fas fa-user-circle"></i>by Admin</span>
                                                <a href="#">The Greyhound <br> hall
                                                    </a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="static/assets/images/mcanda/carousel-4.png.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <span class="sidebar__post-content-meta"><i class="fas fa-user-circle"></i>by Admin</span>
                                                <a href="#">At the Manzini <br> club</a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__category">
                                <h3 class="sidebar__title">Categories</h3>
                                <ul class="sidebar__category-list list-unstyled">
                                    <li><a href="#">Film<span class="icon-right-arrow"></span></a>
                                    </li>
                                    <li class="active"><a href="#">ICT Sector<span class="icon-right-arrow"></span></a></li>
                                    <li><a href="#">Government<span class="icon-right-arrow"></span></a></li>
                                    <li><a href="#">Arts & Culture<span class="icon-right-arrow"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__tags">
                                <h3 class="sidebar__title">Tags</h3>
                                <div class="sidebar__tags-list">
                                    <a href="#">Government</a>
                                    <a href="#">Council</a>
                                    <a href="#">Muncipal</a>
                                    <a href="#">City</a>
                                    <a href="#">Politics</a>
                                </div>
                            </div>
                            <div class="sidebar__single sidebar__comments">
                                <h3 class="sidebar__title">Comments</h3>
                                <ul class="sidebar__comments-list list-unstyled">
                                    <li>
                                        <div class="sidebar__comments-icon">
                                            <i class="fas fa-comment"></i>
                                        </div>
                                        <div class="sidebar__comments-text-box">
                                            <p>Wonderful
                                                <br> service</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__comments-icon">
                                            <i class="fas fa-comment"></i>
                                        </div>
                                        <div class="sidebar__comments-text-box">
                                            <p> <span>Mcanda</span> on the work:
                                                <br> Perfect</p>
                                        </div>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--News Details End-->
        {% endblock mainbody %}