{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}

{% block mainbody %} 
        <!--News Page Start-->
        <section class="news-page">
            <div class="container">
                <div class="row">
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <div class="news-one__img">
                                    <img src="static/assets/images/mcanda/lab.png.jpg" alt="">
                                </div>
                                <div class="news-one__date">
                                    <p>30 <br> JAN</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <div class="news-one__user-and-meta">
                                    <div class="news-one__user">
                                        <div class="news-one__user-img">
                                            <img src="static/assets/images/mcanda/admin_mxo.png" alt="">
                                        </div>
                                        <div class="news-one__user-text">
                                            <p>by <br>Admin</p>
                                        </div>
                                    </div>
                                    <div class="news-one__meta">
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="news-one__title"><a href="/news_details">Setting up new computer
                                    lab</a>
                                </h3>
                                <div class="news-one__btn">
                                    <a href="/news_details">Read More<i class="icon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <div class="news-one__img">
                                    <img src="static/assets/images/mcanda/video.png.jpg" alt="">
                                </div>
                                <div class="news-one__date">
                                    <p>12 <br> JUN</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <div class="news-one__user-and-meta">
                                    <div class="news-one__user">
                                        <div class="news-one__user-img">
                                            <img src="static/assets/images/mcanda/admin_mxo.png" alt="">
                                        </div>
                                        <div class="news-one__user-text">
                                            <p>by <br>Admin</p>
                                        </div>
                                    </div>
                                    <div class="news-one__meta">
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>1 Comment</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="news-one__title"><a href="news-details-video.php">In videography<br> services</a>
                                </h3>
                                <div class="news-one__btn">
                                    <a href="news-details-video.php">Read More<i class="icon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <div class="news-one__img">
                                    <img src="static/assets/images/mcanda/carousel-4.png.jpg" alt="">
                                </div>
                                <div class="news-one__date">
                                    <p>01 <br> AUG</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <div class="news-one__user-and-meta">
                                    <div class="news-one__user">
                                        <div class="news-one__user-img">
                                            <img src="static/assets/images/mcanda/admin_mxo.png" alt="">
                                        </div>
                                        <div class="news-one__user-text">
                                            <p>by <br>Admin</p>
                                        </div>
                                    </div>
                                    <div class="news-one__meta">
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <div class="text">
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="news-one__title"><a href="/news_details_wed">In complete control of a wedding ceremony</a>
                                </h3>
                                <div class="news-one__btn">
                                    <a href="/news_details_wed">Read More<i class="icon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    
                </div>
            </div>
        </section>
        <!--News Page End-->
{% endblock mainbody %}