{% extends 'base.html' %}

{% block title %}Our Services | McandaInvestments{% endblock title %}

{% block mainslider %} {% endblock mainslider %}

{% block mainbody %} 
        <!--Feature Five Start-->
        <section class="feature-five">
            <div class="container">
                <div class="row">
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="feature-one__single">
                            <div class="feature-one__img-box">
                                <div class="feature-one__img">
                                    <img src="static/assets/images/last-images/blog-6.jpg" alt="">
                                </div>
                                <div class="feature-one__content">
                                    <div class="feature-one__icon">
                                        <span class="bi bi-laptop"></span>
                                    </div>
                                    <h3 class="feature-one__title"><a href="#">Websites &
                                            <br> software</a></h3>
                                </div>
                                <div class="feature-one__content-two">
                                    <div class="feature-one__content-two-top">
                                        <div class="feature-one__icon-2">
                                            <span class="bi bi-laptop"></span>
                                        </div>
                                        <h3 class="feature-one__title-2"><a href="#">Websites &
                                                <br> software</a></h3>
                                    </div>
                                    <div class="feature-one__content-two-bottom">
                                        <p class="feature-one__content-two-text">We design, develop websites from scratch into a prototype, then finally into the real live websites in consideration of increasingly market trends.</p>
                                        <div class="feature-one__content-two-btn-box">
                                            <a href="#" class="feature-one__content-two-read-more">Read
                                                More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="feature-one__single">
                            <div class="feature-one__img-box">
                                <div class="feature-one__img">
                                    <img src="static/assets/images/last-images/catering.JPG" alt="">
                                </div>
                                <div class="feature-one__content">
                                    <div class="feature-one__icon">
                                        <span class="bi bi-egg-fried"></span>
                                    </div>
                                    <h3 class="feature-one__title"><a href="#">Catering services
                                            <br>hiring</a></h3>
                                </div>
                                <div class="feature-one__content-two">
                                    <div class="feature-one__content-two-top">
                                        <div class="feature-one__icon-2">
                                            <span class="bi bi-egg-fried"></span>
                                        </div>
                                        <h3 class="feature-one__title-2"><a href="#">Catering services
                                                <br>hiring</a></h3>
                                    </div>
                                    <div class="feature-one__content-two-bottom">
                                        <p class="feature-one__content-two-text">If you  are going to have an elegant, 
                                            spacious event, don't hesitate to contact us for catering. We have professional chefs.</p>
                                        <div class="feature-one__content-two-btn-box">
                                            <a href="#" class="feature-one__content-two-read-more">Read
                                                More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="feature-one__single">
                            <div class="feature-one__img-box">
                                <div class="feature-one__img">
                                    <img src="static/assets/images/mcanda/sound.jpg" alt="">
                                </div>
                                <div class="feature-one__content">
                                    <div class="feature-one__icon">
                                        <span class="bi bi-music-player"></span>
                                    </div>
                                    <h3 class="feature-one__title"><a href="#">Sound system
                                            <br>hiring</a></h3>
                                </div>
                                <div class="feature-one__content-two">
                                    <div class="feature-one__content-two-top">
                                        <div class="feature-one__icon-2">
                                            <span class="bi bi-music-player"></span>
                                        </div>
                                        <h3 class="feature-one__title-2"><a href="#">Sound system
                                                <br> hiring</a></h3>
                                    </div>
                                    <div class="feature-one__content-two-bottom">
                                        <p class="feature-one__content-two-text">We provide rental of our complete set of Sound System to our valued clients for different purposes.</p>
                                        <div class="feature-one__content-two-btn-box">
                                            <a href="#" class="feature-one__content-two-read-more">Read
                                                More<i class="icon-right-arrow feature-one__content-two-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                </div>
            </div>
        </section>
        <!--Feature Five End-->

        <!--Services Two Start-->
        <section class="services-two">
            <div class="services-two__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="services-two__left">
                                <div class="services-two__shape-1 float-bob-y">
                                    <img src="static/assets/images/shapes/services-two-shape-1.png" alt="">
                                </div>
                                <div class="section-title text-left">
                                    <div class="section-title__icon">
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <span class="section-title__tagline">Our services</span>
                                    <h2 class="section-title__title">Explore other services
                                        <br> & products</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="services-two__right">
                                <div class="row">
                                    <!--Services Two Single Start-->
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="services-two__single">
                                            <h3 class="services-two__title"><a href="#video-graphy.php">Videography
                                                    <br> Services</a></h3>
                                            <div class="services-two__icon">
                                                <span class="bi bi-camera-video"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services Two Single End-->
                                    <!--Services Two Single Start-->
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="services-two__single">
                                            <h3 class="services-two__title"><a href="#brand.php">Branding
                                                    <br> Services</a></h3>
                                            <div class="services-two__icon">
                                                <span class="bi bi-r-square"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services Two Single End-->
                                    <!--Services Two Single Start-->
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="services-two__single">
                                            <h3 class="services-two__title"><a href="#print.php">Printing
                                                    <br> Services</a></h3>
                                            <div class="services-two__icon">
                                                <span class="bi bi-printer"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services Two Single End-->
                                </div>
                            </div>
                        </div>
                        <!--Services Two Single Start-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                            <div class="services-two__single">
                                <h3 class="services-two__title"><a href="#dstv.php">DStv 
                                        <br>Satellite</a></h3>
                                <div class="services-two__icon">
                                    <span class="bi bi-tv"></span>
                                </div>
                            </div>
                        </div>
                        <!--Services Two Single End-->
                        <!--Services Two Single Start-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                            <div class="services-two__single">
                                <h3 class="services-two__title"><a href="#construction.php">Construction
                                        <br> Services</a></h3>
                                <div class="services-two__icon">
                                    <span class="bi bi-house"></span>
                                </div>
                            </div>
                        </div>
                        <!--Services Two Single End-->
                        <!--Services Two Single Start-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                            <div class="services-two__single">
                                <h3 class="services-two__title"><a href="#airtime.php">Mobile
                                        <br> Airtime</a></h3>
                                <div class="services-two__icon">
                                    <span class="bi bi-hdd-network"></span>
                                </div>
                            </div>
                        </div>
                        <!--Services Two Single End-->
                        
                    </div>
                </div>
            </div>
        </section>
        <!--Services Two End-->

        

        <!--Offering One Start-->
        <section class="offering-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="offering-one__left">
                            <div class="section-title text-left">
                                <div class="section-title__icon">
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="section-title__tagline">Our services</span>
                                <h2 class="section-title__title">Mcanda offers a
                                    wide range of online
                                    services</h2>
                            </div>
                            <p class="offering-one__text">We have web hosting server (cloud) to host multiple websites of our clients.
                                 We register new web domains and host websites at affordable prices. Mcanda has
                                  a 'sweet' partnership with the country's iconic newest Mobile Money
                                  company - InstaCash.<br><br><strong>Why Mcanda meets customer satisfaction?</strong></p>
                            <ul class="offering-one__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Hardwork.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Consistency.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Committed.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Passionate.</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="offering-one__btn-box">
                                <a href="#" class="offering-one__btn thm-btn">Discover More</a><br/>
                                <br/><br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6">
                        <div class="offering-one__right">
                            <div class="offering-one__shape-1 img-bounce">
                                <img src="static/assets/images/shapes/offering-one-shape-1.png" alt="">
                            </div>
                            <div class="offering-one__img-box">
                                <div class="offering-one__img">
                                    <img src="static/assets/images/mcanda/instacash.jpg" alt="">
                                </div>
                                <div class="offering-one__img-2">
                                    <img src="static/assets/images/mcanda/logo-presence.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Offering One End-->
        
        {% endblock mainbody %}

        

    