{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}

{% block mainbody %} 
        <!--Team Details Start-->
        <section class="team-details">
            <div class="container">
                <div class="team-details__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__left">
                                <div class="team-details__img">
                                    <img src="static/assets/images/mcanda/mz.png" alt="">
                                    <div class="team-details__shape-1">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__right">
                                <div class="team-details__top-content">
                                    <h3 class="team-details__top-name">Sibonile Mabuza</h3>
                                    <p class="team-details__top-title">Accountant</p>
                                    <div class="team-details__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                    <p class="team-details__top-text-1"> My responsible is for the management and reporting of financial data of the company</p>
                                    <p class="team-details__top-text-2">My duties include preparing financial statements, examining and analyzing the company’s accounts and ensuring compliance with financial reporting and other standard accounting procedures.</p>
                                    <div class="team-details__contact">
                                        <p>Experience: <span>15 Years</span></p>
                                        <p>Email: <a href="mailto:sibonile@mcandainvestment.com">sibonile@mcandainvestment.com</a>
                                        </p>
                                        <p>Phone: <a href="tel:+26876077977">(+268) 76077977</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-details__bottom">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__bottom-left">
                                <h4 class="team-details__bottom-left-title">Personal experience</h4>
                                <p class="team-details__bottom-left-text">Has a Diploma in Accounting & Finance, from the Institute of Commercial Management (ICM).

                                    Level 2 Certificate in Customer Service from London Chamber of Commerce and Industry. She has more than 10 years experience in administration and office management duties. She worked for Lwati Training & Management as an Admin Officer for 11 years. She is involved in all the secretarial and administration duties.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__bottom-right">
                                <div class="team-details__progress">
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Counselling</h4>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="80%">
                                                <div class="count-text">80%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Financing</h4>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="60%">
                                                <div class="count-text">60%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Marketing</h4>
                                        <div class="bar marb-0">
                                            <div class="bar-inner count-bar" data-percent="75%">
                                                <div class="count-text">75%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team Details End-->
        {% endblock mainbody %}

