{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}


{% block mainbody %}
<!--Team One Start-->
        <section class="team-one team-page">
            <div class="container">
                <div class="team-one__inner">
                    <div class="row">
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-1">
                                    <img src="/static/assets/images/shapes/team-one-shape-1.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="/static/assets/images/mcanda/mho.png" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="/team_details">Bheki Fakudze</a></h3>
                                    <p class="team-one__sub-title">Founder</p>
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/thembela.fakudze"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-2">
                                    <img src="/static/assets/images/shapes/team-one-shape-2.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="/static/assets/images/mcanda/mali-2.png" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="/sibonile">Sibonile Mabuza</a></h3>
                                    <p class="team-one__sub-title">Accountant</p>
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-3">
                                    <img src="/static/assets/images/shapes/team-one-shape-3.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="/static/assets/images/mcanda/in.png" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="/mxolisi">Mxolisi Masuku</a></h3>
                                    <p class="team-one__sub-title">Software Developer</p>
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/mxolisi.masuku.3538"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <!--Team One End-->
 {% endblock mainbody %}

        
 