{% extends 'base.html' %}
{% block mainslider %} {% endblock mainslider %}

{% block mainbody %} 
        <!--Team Details Start-->
        <section class="team-details">
            <div class="container">
                <div class="team-details__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__left">
                                <div class="team-details__img">
                                    <img src="static/assets/images/last-images/agent-insta.png" alt="">
                                    <div class="team-details__shape-1">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__right">
                                <div class="team-details__top-content">
                                    <h3 class="team-details__top-name">Bheki Fakudze</h3>
                                    <p class="team-details__top-title">Founder & Director</p>
                                    <div class="team-details__social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/thembela.fakudze"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                    <p class="team-details__top-text-1">I help my company to stand out and our
                                        people
                                        help us to grow.</p>
                                    <p class="team-details__top-text-2">My main obligations as the Director of the company is to satisfy our clients with dignity and without any discrimination.</p>
                                    <div class="team-details__contact">
                                        <p>Experience: <span>12 Years</span></p>
                                        <p>Email: <a href="mailto:bheki@mcandainvestment.com">bheki@mcandainvestment.com</a>
                                        </p>
                                        <p>Phone: <a href="tel:+26876076247">(+268) 76077977</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-details__bottom">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__bottom-left">
                                <h4 class="team-details__bottom-left-title">Personal experience</h4>
                                <p class="team-details__bottom-left-text">Thembela Fakudze, who is also the Director of the company, has a vast experience in sales and marketing, and has been in this industry since 2011.

                                    He has also served in the department of cleaning and disinfection at Swaziland Beverages for four (4) years. For the same company, Swaziland Beverages, he was also a computer sales & repair officer. Thembela’s recreational interest includes: Afro music,
                                     volleyball, badminton and soccer.<br/>He is also a Super Agent of the  newest
                                     Mobile Money company of Eswatini - InstaCash.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="team-details__bottom-right">
                                <div class="team-details__progress">
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Consultation</h4>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="90%">
                                                <div class="count-text">90%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Insured</h4>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="70%">
                                                <div class="count-text">70%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details__progress-single">
                                        <h4 class="team-details__progress-title">Dealing</h4>
                                        <div class="bar marb-0">
                                            <div class="bar-inner count-bar" data-percent="28%">
                                                <div class="count-text">28%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team Details End-->

{% endblock mainbody %}